.first {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    border-radius: 30px;
}

.bton {
    display: flex-box;
    margin-bottom: 20px;
    margin-top: 10px;
}

.spa {
    padding: 10px;
}